apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: ghcr.io/qurolvov/phoenix-evasion-research
    newName: ghcr.io/qurolvov/phoenix-evasion-research
    newTag: latest   
